body{
    background-color: #3B3835;
}

.navbar {
    background-color: #212424;
    border-color: #212424;
}

.jumbotron {
    text-align: center;
    height: 350px;
}

img.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height: 75%;
    width: auto;
}

h2 {
    margin-top: 0px;
}

.btn-lg {
    padding-left: 35px;
    padding-right: 35px;
}

.navbar-fixed-bottom {
    background-color: #212424;
    border-color: #212424;
    color: #FFFFFF;
    font-weight: lighter;
}